name: CI/CD

on:
  schedule: 
    - cron: "0/10 * * * *"  

jobs:
  build:

    runs-on: ubuntu-latest

    strategy:
      matrix:
        node-version: [18.x]

    steps:
    - name: Checkout repository
      uses: actions/checkout@v2

    - name: Set up Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}

    - name: Install dependencies
      run: npm install
    - name: Install spreadsheet
      run: npm install react-spread-sheet-excel
    - name: Use from npm package
      run: node ./scripts/test-from-package.js
    - name: Build
      run: npm run react-build


